<div class="centered-content">
    <div class="modal-box">
      <h1 class="title">{{ title }}</h1>
  
      <div class="field" *ngIf="listId  && taskId">
        <p class="control is-expanded">
          <input #inputTitle type="text" class="input" placeholder="Edit task" value={{task}}/>
          <span></span>
        </p>
        <div class="group-button" >
          <a class="button is-default is-small" routerLink="../.."> Cancle</a>
          <a class="button is-primary is-small" (click)="editTask(inputTitle.value)"> Edit</a>
        </div>
      </div>
      <div class="field" *ngIf="listId && !taskId">
        <p class="control is-expanded">
          <input #inputTitle type="text" class="input" placeholder="Edit list" />
          <span></span>
        </p>
        <div class="group-button" >
          <a class="button is-default is-small" routerLink="/"> Cancle</a>
          <a class="button is-primary is-small" (click)="editList(inputTitle.value)"> Edit</a>
        </div>
      </div>
    </div>
  </div>
  