<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">{{ title }}</h1>

    <div class="field">
      <p class="control is-expanded">
        <input #inputTitle type="text" class="input" placeholder="Create a new list" />
        <span></span>
      </p>
      <div class="group-button" *ngIf="listId">
        <a class="button is-default is-small" routerLink=".."> Cancle</a>
        <a class="button is-primary is-small" (click)="createTask(inputTitle.value)"> Create</a>
      </div>
      <div class="group-button" *ngIf="!listId">
        <a class="button is-default is-small" routerLink=".."> Cancle</a>
        <a class="button is-primary is-small" (click)="createList(inputTitle.value)"> Create</a>
      </div>
    </div>
  </div>
</div>
